


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: top;
}
/*  END of RESET CSS-------------------------------------------------------*/
table {
border-collapse: collapse;
}
td th {
display: table-cell;
}
.topleft { position:relative; top:1px;left:0px;width:255px;height:130px;
display: block;
    margin-left: auto;
    margin-right: auto }
table { position:relative; top:20px;left:0px;right:0px;width:255px;height:130px;margin-bottom:20px;margin-top:20px;margin-left:20px;margin-right:20px;
border:1.75pt solid black;
table-layout: fixed;
   text-align:center
/*border-collapse:collapse;*/
/*display:inline*/;vertical-align:top;background:white}
#navbox  ,.navbox{ 
	position: fixed;
	top: 0;
	right: 80%; 
	bottom: 0;
	left: 0%;
	background: #ee3e64;
}
.preview-pane {
	border: 3px solid #ccc;
		width: 80%; 
	height:100%; 
	/*float: left; */
	clear: left; 
	/*position: relative;*/
	position:fixed;
	left:20%;
	right:0%;
	font-family: "source-code-pro";
	font-size: 14px;
}

#cardbox { 
	position: absolute;
	top: 0px;
	left: 20%; 
	bottom: 0;
	right:40%;
	margin:0;
	background: #b7d84b;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
.MNI { font-family:"Copperplate Gothic Bold";
color:#993366;font-size:12.0pt;
/*display: block;*/
   text-align:center;
      font-weight: bold;
}
.FY {
  /* display:block ;*/
   font-size:8.0pt;

   }
   .MEMB{
  /* display:block ;*/
   font-size: 10pt;
   font-family:"Times New Roman","serif";
   font-weight: bold;
margin:0px;
   }
    .MEMNUM{
  /* display:block ;*/
   font-size: 12pt;
   font-family:"Times New Roman","serif";
   font-weight: bold;
   color:#993366;
margin:0px;
   }  
   
tbody.cardz { 
/*display: block;*/

/*border:4.75pt solid black;*/
table-layout: fixed;
   text-align:center}
   
   tr {table-layout:fixed;}
.page-break	{ display: none; }


/*@media screen and (max-width:21cm) {*/
/* resize your window until the event is triggered */
/*html { width:21cm; }

body { font: 9pt/1.5 Arial, sans-serif; }
div { border:2px solid green; color:green; width:5in; }
b { display:none; }
strong { display:inline; font-style:italic; font-weight:bold; }
#navbox { display:none;}
table { position:relative; top:20px;left:0px;right:0px;width:8cm;height:4.1cm;margin-bottom:20px;margin-top:20px;margin-left:0.0cm;margin-right:0.0cm;
border:1.75pt solid black;
table-layout: fixed;
   text-align:center;
   	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: top;
background:white;}

}*/

